
@{
    ViewData["Title"] = "Welcome";
}

@*<div style="height: 700px;">
    </div>*@
@*<div id="homepageContainer" class="fade-inout">
        <span id="homepageHeading">Hi, I’m Thien</span>
    </div>*@
<div class="fade-in text-center">
    <h1 style="margin-top: 40vh">Welcome</h1>
    <br />
    <h5>.NET Full Stack</h5>
    <br />
    <a class="btn btn-danger" href="https://onedrive.live.com/view.aspx?resid=CF35CC691A0F84CF!2365&ithint=file%2cdocx&authkey=!AFehufDgKYpGdcE">
        Resume
    </a>
    <a class="btn btn-danger" href="#linkMyWork">
        View Projects
    </a>
    <br />
    <br />
    <a href="https://au.linkedin.com/in/thien-l-10257b162" class="fa fa-linkedin faSocial" style="text-decoration: none" target="_blank"></a>
    <a href="https://github.com/ThienLuu" target="_blank">GitHub</a>
</div>
<div class="fade-in row bg-primary p-4">
    <div class="col-sm-8 text-center">
        <h5>I'm currently studying Information Technology, majoring in Software Technology. Graduated with a Certificate IV in Programming and a Diploma in Software Development.</h5>
    </div>
    <div class="col-sm-4">
        <img src="#" alt="Image of me" />
    </div>
</div>
<div id="linkMyWork" class="row">
    <div class="col-12">
        <h2>Portfolio - Web Apps</h2>
    </div>
</div>

<div class="row justify-content-center">
    <!--#region PROJECT 1-->
    <div class="col-md-3 border-dark border rounded p-3 m-2">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="~/Images/LOGO_3.png" />
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <h3>Project 1</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#project1">Details</button>
                        <div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="project1Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="bg-dark text-light modal-header">
                                        <h5 class="modal-title" id="project1Label">Project 1</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <!--Close modal cross-->
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="bg-dark text-light modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <img class="img-fluid" src="~/Images/LOGO_3.png" />
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <h6>Date Completed:<br />dd/MM/yyyy</h6>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <h6>Duration:<br />3 Months</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <h6>Expected Completion<br /> N/A</h6>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <h6>
                                                            Completed<br />
                                                            <input checked class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Description</h4>
                                                <p>
                                                    ...
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <h4>Challenges</h4>
                                                <p>
                                                    ...
                                                </p>
                                                <h4>Things Learnt</h4>
                                                <p>
                                                    ...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer bg-dark">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">View Live</button>
                                        <button type="button" class="btn btn-primary">View on Github</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->
    <!--#region PROJECT 2-->
    <div class="col-md-3 border-dark border rounded p-3 m-2">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="~/Images/LOGO_3.png" />
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <h3>Project 2</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#project1">Details</button>
                        <div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="project1Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="bg-dark text-light modal-header">
                                        <h5 class="modal-title" id="project1Label">Project 2</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <!--Close modal cross-->
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="bg-dark text-light modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <img class="img-fluid" src="~/Images/LOGO_3.png" />
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <h6>Date Completed:<br />dd/MM/yyyy</h6>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <h6>Duration:<br />3 Months</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <h6>Expected Completion<br /> N/A</h6>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <h6>
                                                            Completed<br />
                                                            <input checked class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Description</h4>
                                                <p>
                                                    ...
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <h4>Challenges</h4>
                                                <p>
                                                    ...
                                                </p>
                                                <h4>Things Learnt</h4>
                                                <p>
                                                    ...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer bg-dark">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">View Live</button>
                                        <button type="button" class="btn btn-primary">View on Github</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->
    <!--#region PROJECT 3-->
    <div class="col-md-3 border-dark border rounded p-3 m-2">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="~/Images/LOGO_3.png" />
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <h3>Project 3</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#project1">Details</button>
                        <div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="project1Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="bg-dark text-light modal-header">
                                        <h5 class="modal-title" id="project1Label">Project 3</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <!--Close modal cross-->
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="bg-dark text-light modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <img class="img-fluid" src="~/Images/LOGO_3.png" />
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <h6>Date Completed:<br />dd/MM/yyyy</h6>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <h6>Duration:<br />3 Months</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <h6>Expected Completion<br /> N/A</h6>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <h6>
                                                            Completed<br />
                                                            <input checked class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Description</h4>
                                                <p>
                                                    ...
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <h4>Challenges</h4>
                                                <p>
                                                    ...
                                                </p>
                                                <h4>Things Learnt</h4>
                                                <p>
                                                    ...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer bg-dark">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">View Live</button>
                                        <button type="button" class="btn btn-primary">View on Github</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->
    <!--#region PROJECT 4-->
    <div class="col-md-3 border-dark border rounded p-3 m-2">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="~/Images/LOGO_3.png" />
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <h3>Project 4</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#project1">Details</button>
                        <div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="project1Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="bg-dark text-light modal-header">
                                        <h5 class="modal-title" id="project1Label">Project 4</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <!--Close modal cross-->
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="bg-dark text-light modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <img class="img-fluid" src="~/Images/LOGO_3.png" />
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <h6>Date Completed:<br />dd/MM/yyyy</h6>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <h6>Duration:<br />3 Months</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <h6>Expected Completion<br /> N/A</h6>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <h6>
                                                            Completed<br />
                                                            <input checked class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Description</h4>
                                                <p>
                                                    ...
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <h4>Challenges</h4>
                                                <p>
                                                    ...
                                                </p>
                                                <h4>Things Learnt</h4>
                                                <p>
                                                    ...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer bg-dark">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">View Live</button>
                                        <button type="button" class="btn btn-primary">View on Github</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->
</div>
<div class="row">
    <div class="col-12">
        <h2>Portfolio - Other Projects</h2>
    </div>
</div>
<div class="row">
    <!--#region OTHER PROJECT 1-->
    <div class="col-md-3 border-dark border rounded p-3 m-2">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="~/Images/LOGO_3.png" />
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <button class="btn btn-danger">Details</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <h3>Project 1</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->
    <!--#region OTHER PROJECT 2-->
    <div class="col-md-3 border-dark border rounded p-3 m-2">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="~/Images/LOGO_3.png" />
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <button class="btn btn-danger">Details</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center pt-3">
                        <h3>Project 2</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->
</div>

<div class="row">
    <div class="col-12">
        <h2>My Learning Resources</h2>
        <p>
            ...
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>About Me</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Video</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Contact</h2>
    </div>
</div>